<div class="main-container">
    <div class="row">
        <div class="feat feat1 col-6">
            <span id ="txt"><h2>Transport Management System!</h2>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p></span>
                <button class="btn btn-dark px-4 py-2 secondary-btn">Explore Our Apps</button>
                  <button class="btn btn-dark px-5 py-2 primary-btn">Get in Touch</button>
                </div>
        <div class="feat feat2 col-6 p-0"><iframe width="560" height="315" src="https://www.youtube.com/embed/2bVik34nWws" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </div>
    <div class="row">
      <div class="col-md-6">
           <div>
              <img class="contact-image" src="../assets/images/contactus.jpg">
      </div>
    </div>
       <div class="contactcolor col-md-6">
         <div class="text">
           <h3>Get in Touch!</h3>
         </div>
             <span class="tabledata"> 
            <mat-form-field class="dataalign" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name">
              </mat-form-field>
               <mat-form-field  class="dataalign" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name">
            </mat-form-field>
       </span>
            <span class="tabledata">
              <mat-form-field class="dataalign" appearance="outline">
                <mat-label>Email</mat-label>
                <input class="textincrease" matInput placeholder="Email"> 
              </mat-form-field>
                <mat-form-field class="dataalign" appearance="outline">
                   <mat-label>Phone Number </mat-label>
                   <input matInput placeholder="Phone Number">
                 </mat-form-field>
            </span>
             <span class="tabledata">
               <mat-form-field class="dataalign" appearance="outline">
                  <mat-label>Message</mat-label>
                  <textarea rows="2" cols="40" input matInput placeholder="Message"> </textarea>
                </mat-form-field>
              </span>
                <div class="tabledata">
                    <button class="buttonclr" mat-raised-button>Submit</button>
                    </div>
                  </div>
  </div>
</div>

  
      
 




        
    

