<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar class="toolbar z-depth-2">
  <span class="toolbarText" routerLink="/home">
    <img src="../assets/images/school-bus-icon.png" class="toolbarIcon"> School Bus
  </span>
  <span class="fill-remaining-space"></span>
  <div class="toolbarText">
    <span>
      <button mat-button routerLink="/solutions">Solutions</button>
    </span>
    <span>
      <button mat-button routerLink="/features">Features</button>
    </span>
    <span>
      <button mat-button routerLink="/apps">Apps</button>
    </span>
    <span>
      <button mat-button routerLink="/contact">Contact</button>
    </span>
    <span>
      <button mat-button>Demo</button>
    </span>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<!--Footer-->
<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href=""><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href=""><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href=""><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
            <h5>Quick links</h5>
            <ul class="list-unstyled quick-links">
              <li><a href=""><i class="fa fa-angle-double-right"></i>Home</a></li>
              <li><a href=""><i class="fa fa-angle-double-right"></i>About</a></li>
              <li><a href=""><i class="fa fa-angle-double-right"></i>FAQ</a></li>
              <li><a href=""><i class="fa fa-angle-double-right"></i>Get Started</a></li>
              <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
            </ul>
          </div>
          <div class="row">
              <div class="socialsites col-xs-12 col-sm-12 col-md-12">
                <ul class="list-unstyled list-inline social text-center">
                  <li class="social1 list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                  <li class="social1 list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                  <li class="social1 list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
                  <li class="social1 list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
                  <li class="social1 list-inline-item"><a href="" target="https://mail.google.com/mail/u/0/#inbox?compose=new"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>	
        </div>	
      </div>
    </section>