<div class="main-container">
<div class="row">
    <div class="section1 col-md-6">
        <span><h2 class="headertext">Ensure Student Safety</h2>
        <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
        </p>
        </span>
        <div class="explore">
        <button class="btn btn-dark px-4 py-2 secondary-btn">Explore</button>
    </div>
    </div>
    <div class="section1 col-md-6 p-0">
       <span>
            <img src="../assets/images/appsimage1.jpg" class="imagesec">
        </span>
    </div>
</div>  
<div class="awesome">We Provide Apps For Your Comfort!</div> 
<div class="row">
    <div class="col-md-6">
        <div class="firstcolumn">
                <span class="image"><img src="../assets/images/person-male.jpg">
                <h5 class="fontincrease">Parents App!</h5>
             <p class="dummytext">Dummy text is text that is used in the publishing industry or by web designers to occupy the space which will later be filled with 'real' content</p>
            </span>
            <button class="button btn btn-dark primary-btn">know more</button> 
        </div>
        <div class="firstcolumn part1">
                <span class="image"><img src="../assets/images/students.jpg">
                <h5 class="fontincrease">Students App!</h5>
            <p class="dummytext">Dummy text is text that is used in the publishing industry or by web designers to occupy the space which will later be filled with 'real' content</p>
            </span>
            <button class="button btn btn-dark primary-btn">know more</button> 
        </div>
        <div class="firstcolumn part1">
                <span class="image"><img src="../assets/images/e-learning.jpg">
                <h5 class="fontincrease">E-learning App!</h5>
             <p class="dummytext">Dummy text is text that is used in the publishing industry or by web designers to occupy the space which will later be filled with 'real' content</p>
            </span>
            <button class="button btn btn-dark primary-btn">know more</button> 
        </div>
    </div>


    <div class="col-md-6">
            <div class="secondcolumn">
                    <span class="image"><img src="../assets/images/university-campus.jpg">
                    <h5 class="fontincrease">University App!</h5>
                 <p class="dummytext1">Dummy text is text that is used in the publishing industry or by web designers to occupy the space which will later be filled with 'real' content</p>
                </span>
                <button class="button btn btn-dark primary-btn">know more</button> 
            </div>
            <div class="secondcolumn part1">
                    <span class="image"><img src="../assets/images/teacher.jpg">
                    <h5 class="fontincrease">Teachers App!</h5>
                <p class="dummytext1">Dummy text is text that is used in the publishing industry or by web designers to occupy the space which will later be filled with 'real' content</p>
                </span>
                <button class="button btn btn-dark primary-btn">know more</button> 
            </div>
            <div class="secondcolumn part1">
                    <span class="image"><img src="../assets/images/traditional-school-bus.png">
                    <h5 class="fontincrease">School Bus App!</h5>
                 <p class="dummytext1">Dummy text is text that is used in the publishing industry or by web designers to occupy the space which will later be filled with 'real' content</p>
                </span>
                <button class="button btn btn-dark primary-btn">know more</button> 
            </div>
        </div>
    </div>
    
</div>

  
