.section1{
    padding:150px;
}
.headertext{
    font-size: 50px;
}
.explore{
   padding-top: 20px;
}
.imagesec{
    width:100%;
}
.awesome{
    font-size: 30px;
    text-align:center;
}
.firstcolumn{
    margin-left: 300px;
    text-align:center;
    padding-right:40px;
}
.image{
    margin-left: 40px;
}
.button{
    margin-left: 30px;
}
.part1{
    padding-top:40px;
}
.fontincrease{
    font-weight:1000;
    margin-left: 40px;
}

.button{
    padding:10px;
}
.secondcolumn{
    margin-right: 300px;
    text-align:center;
    padding-left: 40px;
}





