<!--Header image-->

<div>
    <img src="../assets/images/bus.jpg" class="headerImage">
  </div>
  
  <!--Media coverage-->
  <div class="media-container" id="section1">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text1">
        Media Coverage
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="row">
          <div class="col">
            <section class="newsP">News channel1</section>
          </div>
          <div class="col">
            <section class="newsP">News channel2</section>
          </div>
          <div class="col">
            <section class="newsP">News channel3</section>
          </div>
          <div class="col">
            <section class="newsP">News channel4</section>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Section 2-->
  <div class="section-2">
    <div class="row">
      <div class="col-4">
        <mat-card>
          <img src="../assets/images/heightbus.jpg" class="section2-sideImage">
        </mat-card>
      </div>
      <div class="col-8">
        <div class="section2-heading">
          <h1>Lorem ipsum</h1>
        </div>
        <div class="row">
          <div class="col">
            <h3>Lorem ipsum</h3><br>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Eu feugiat pretium nibh ipsum consequat. At tellus at urna condimentum mattis
              pellentesque id nibh tortor. Netus et malesuada fames ac turpis egestas integer eget aliquet. Egestas purus
              viverra accumsan in nisl nisi scelerisque eu ultrices. Sed arcu non odio euismod. Sem fringilla ut morbi
              tincidunt augue interdum. Interdum velit euismod in pellentesque. Eget est lorem ipsum dolor. Enim facilisis
              gravida neque convallis.
            </p>
          </div>
          <div class="col">
            <h3>Lorem ipsum</h3><br>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Eu feugiat pretium nibh ipsum consequat. At tellus at urna condimentum mattis
              pellentesque id nibh tortor. Netus et malesuada fames ac turpis egestas integer eget aliquet. Egestas purus
              viverra accumsan in nisl nisi scelerisque eu ultrices. Sed arcu non odio euismod. Sem fringilla ut morbi
              tincidunt augue interdum. Interdum velit euismod in pellentesque. Eget est lorem ipsum dolor. Enim facilisis
              gravida neque convallis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!--Features-->
  <div class="section4" id="section4">
    <div class="text-center mb-3" style="padding-top: 60px;">
      <h1>Features</h1>
    </div>
    <mat-card class="feature-card">
      <div class="row">
        <div class="col">
          <div class="text-center">
            <h3>Lorem ipsum</h3>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur
          </p>
        </div>
        <div class="col">
          <div class="text-center">
            <h3>Lorem ipsum</h3>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="text-center">
            <h3>Lorem ipsum</h3>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur
          </p>
        </div>
        <div class="col">
          <div class="text-center">
            <h3>Lorem ipsum</h3>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur
          </p>
        </div>
      </div>
    </mat-card>
  </div>
  
  <!--section 3-->
  <div class="section3" id="section3">
    <div>
      <div class="row">
        <div class="col-4" class="iconCardSection">
          <mat-card class="appCard">
            <img src="../assets/images/icon.png" class="appIcon"><br>
            <section style="margin-top: 5px;font-weight: 600;">Onebus App</section>
          </mat-card>
        </div>
        <div class="col-8">
          <div class="text-center">
            <h1>App</h1>
          </div>
          <p>
            Nunc scelerisque viverra mauris in. Id diam maecenas ultricies mi eget mauris. Sed egestas egestas fringilla
            phasellus faucibus. Praesent elementum facilisis leo vel fringilla est ullamcorper eget. Gravida in
            fermentum et sollicitudin ac orci phasellus egestas. Nunc eget lorem dolor sed viverra ipsum nunc aliquet
            bibendum. Mus mauris vitae ultricies leo integer. Sed egestas egestas fringilla phasellus faucibus
            scelerisque. Rutrum tellus pellentesque eu tincidunt. Bibendum arcu vitae elementum curabitur vitae nunc sed.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <!--Contact us-->
  <div class="section5" id="section5">
    <div class="text-center">
      <h1>Contact Us</h1>
    </div>
    <br>
    <mat-card class="contact-card">
      <div class="row">
        <div class="col-5">
          <img src="../assets/images/corinne-kutz-tMI2_-r5Nfo-unsplash.jpg" class="contactusImage">
        </div>
        <div class="col-7 p-4">
          <div class="text-center">
            <h4>City</h4>
            <section>Unkown Address, Unknown street,</section>
            <section>City - 110223</section>
            <section>Mob: 999999999</section>
          </div>
        </div>
      </div>
    </mat-card>
  </div>